.para-about p{
    text-align: center;
    margin-bottom: 0px;
}
.para-about {
    color: white;
    padding: 50px 20px;
}
.about-background {
    background-color: var(--primary-color);
}
.main-img {
    background-image: url(../image/about-us-img.png);
    height: 600px;
}
.main-img h1 {
    text-align: center;
    background-color: white;
}
.heading21 {
    padding: 10px;
    font-size: 20.5px;
}
.heading21 span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 26px;
}
.who-we {
    padding: 30px;
    background-color: #F9F8F2;
}
.vision-our {
    padding: 30px;
    background-color: var(--primary-color);
    color: white;
}
.our-value div img {
    margin-top: 30px;
    width: 100%;
    object-fit: cover;
}